.crm_manage_module_edit {
    .right_column {
        background-color: #e3e3e3;
        flex: 0 0 70%;
        max-width: 70%;
    }

    .footer_actions {
        bottom: 0;
        left: 0;
        position: sticky;
        right: 0;
    }
}
