@import '../../../../node_modules/compass-mixins/lib/compass/css3';
@import '../../../sass/variables';

.root {
    padding: 16px 15px 8px;

    .editor {
        margin-bottom: 20px;
    }

    .controls {
        font-family: 'Helvetica', sans-serif;
        font-size: 1em;
        margin-bottom: 5px;
        user-select: none;

        .styleButton {
            @include border-radius(3px);
            color: $text-color;
            cursor: pointer;
            display: inline-block;
            line-height: 28px;
            height: 28px;
            margin-right: 16px;
            padding: 2px 0;

            &:hover {
                background-color: $gray1;
                // color: $white;
            }
        }

        .activeButton {
            background-color: $primary-color;
            color: $white;

            &:hover {
                background-color: $primary-color;
                color: $white;
            }
        }
    }

    .hidePlaceholder {
        display: none;
    }
}
