@import 'compass/css3';
@import 'variables';
@import 'animations';
@import 'react-table';
@import 'material-ui-custom';
@import 'editor';

body {
    background: #f1f1f1;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;

    #crm-app {
        input,
        select,
        textarea {
            box-shadow: none;
        }
    }

    .jg-popover {
        padding: 0 15px 15px;
    }

    &.ui-full-screen-background {
        // #adminmenumain, #wpadminbar {
        //     ms-filter: blur(5px);
        //     -webkit-filter: blur(5px);
        //     filter: blur(5px);
        // }
    }

    .muiDrawerContainer {
        z-index: 999999 !important;
    }

    .muiDrawerOverlay {
        background-color: rgba(45,62,80,.79) !important;
        z-index: 999999 !important;
    }

    .muiAppBar {
        background-color: #00bda5;
        @include background-image(linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5));
    }
}

.crm-config {
    padding-right: 20px;

    .main-title {
        border-bottom: 1px solid rgba(black, .12);
        color: rgba(black, .7);
    }
}

.crm-manage-module {
    margin-bottom: 25px;

    .search-bar {
        display: block !important;
        font-size: 12px !important;
        height: 36px !important;

        > div:first-child {
            bottom: inherit !important;
            line-height: 36px !important;
        }
    }
}

.crm-manage-module-edit {
    .right-column {
        flex: 0 0 70%;
        max-width: 70%;
    }

    .footer-actions {
        bottom: 0;
        left: 0;
        position: sticky;
        right: 0;
    }
}


.list-wrapper {
    background-color: #e2e2e2;
    border: 1px solid #dfdfdf;
    padding: 0 !important;
}


.Showcase__style__stylizedHelper2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 400;
}
.Showcase__style__stylizedHelper{
    box-shadow:0 5px 5px -5px rgba(0,0,0,.2),0 -5px 5px -5px rgba(0,0,0,.2);
    cursor:row-resize;
    z-index: 99999;
}
